seaborn==0.11.1
tqdm==4.60.0
matplotlib==3.1.0
sacremoses==0.0.45
fairscale==0.3.7
SoundFile==0.10.3.post1
tokenizers==0.10.3
editdistance==0.5.2
requests==2.22.
subword_nmt==0.3.7
regex==2021.4.4
Cython==0.29.23
sentencepiece==0.1.86
omegaconf==2.0.6
nltk==3.6.2
sacrebleu==1.5.1
azureml==0.2.7
boto3==1.18.16
botocore==1.21.16
fvcore==0.1.5.post20210804
gossip==2.4.0
iopath==0.1.9
PyYAML==5.4.1
scikit_learn==0.24.20
jieba==0.42.1
